
.RG_LIST_BUTTON {
    color: var(--RG_TEXT_GREY);

    border-radius: 5px;
    height: fit-content;

    font-size: 14px;
    font-weight: normal;

    user-select: none;

    border-width: 1px;
    border-color: transparent;
    border-style: solid;
}

.RG_LIST_BUTTON:hover {
    border-color: var(--RG_TEXT_GREY);
}


.RG_DROPDOWN_LIST {
    background-color: var(--RG_ITEM_GREY);
    box-shadow: 0px 0px 4px 0px black;
    color: var(--RG_TEXT_GREY);

    width: fit-content;
    white-space: nowrap;

    margin-left: -6px;
}


.RG_DROPDOWN_LIST_ITEM {
    padding: 10px 5px 10px 5px;
    background-color: var(--RG_ITEM_GREY);
}

.RG_DROPDOWN_GROUP {
    border-color: var(--RG_TEXT_GREY);
    border-width: 1px;
    border-style: solid;
}

.RG_DROPDOWN_LIST_ITEM:hover {
    background-color: var(--RG_HIGHLIGHT_GREY);
}