
.RG_HEADER {
    display: block;
    /* overflow: hidden; ?? why? breaks drop-downs but it was probably set for a reason (maybe)*/
}

.RG_HEADER_TOP {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 50%;

    background-color: var(--RG_HEADER_GREY);
    color: var(--RG_TEXT_GREY);
}

.RG_HEADER_TOPLEFT {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: 15px;
}


.RG_HEADER_BOTTOM {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--RG_ITEM_GREY);
    color: var(--RG_TEXT_GREY);

    min-height: 50%;

    padding-left: 15px;
    padding-right: 15px;
}


.RG_PAGENAME {
    font-size: x-large;
}

.RG_HEADER_BOTTOM_ENTLIST {
    display: flex;
    gap: 25px;
}

.RG_HEADER_ENTBUTTON {
    background-color: transparent;
    color: var(--RG_TEXT_GREY);
    font-size: large;
}

.RG_HEADER_ENTBUTTON:hover {
    color: orange;
    cursor: pointer;
}
