.RG_GRID_BG {
    background-color: black;
    /* height: 85vh; */
    bottom: 0px;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

.RG_GRID_TABLE {
    border-collapse: collapse;
    /* margin-top: 1px; */
}

.RG_GRID_ROW {
    color: rgba(238, 238, 238, 0.85);
    background-color: var(--RG_ITEM_GREY);
}

.RG_GRID_ROW_SELECT {
    color: rgba(238, 238, 238, 0.85);
    background-color: #3b5d6d;
}

.RG_GRID_HEADER {
    color: rgba(238, 238, 238, 0.85);
    background-color: var(--RG_HEADER_GREY);
    cursor: pointer;
    position: sticky;
    top: 0;

    line-height: 18px;
    font-size: 0.75rem;
    margin:0;
    outline: 1px solid rgb(161, 161, 161);
    padding: 0px 3px 0px;
    user-select: none;
    font-weight: normal;
    text-align: left;
}

.RG_GRID_HEADER_CONTAINER {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 7px;
    cursor: col-resize;
    user-select: none;
}

.RG_GRID_CELL {
    white-space: nowrap;
    /* max-width: 0px; */
    /* min-width: fit-content; */
    /* width: fit-content; */
    line-height: 18px;
    border: 1px solid rgb(161, 161, 161);
    font-size: 0.75rem;
}

.RG_GRID_DISPLAYCELL {
    padding: 0px 3px 0px;
    user-select: none;
    font-weight: normal;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 18px;
}
.RG_GRID_CELL:hover {
    background-color: var(--RG_HIGHLIGHT_GREY);
}

.RG_GRID_EDITCELL {
    display: flex;
    height: 18px;
    font-size: 0.75rem;
}

.RG_CHECKBOX {
    margin: 0px 3px 0px;
}


.RG_GRID_FOOTER {
    background-color: var(--RG_ITEM_GREY);
    text-align: center;
    font-size: 0.75rem;
    padding: 3px;
    color: white;
    justify-content: center;
}


.RG_GRID_CELL_HIDDEN {
    visibility: hidden;
}



.flashgood {
    animation: flashgood 0.1s linear;
}
@keyframes flashgood {
    0% {
        background-color: transparent;
    }
    10% {
        background-color: green;
    }
    100% {
        background-color: transparent;
    }
}


.resizer {
    position: absolute;
    top: 0;
    height: 100%;
    width: 5px;
    cursor: col-resize;
    user-select: none;
    touch-action: none;
    right: 0;
}

.resizer.isResizing {
    opacity: 1;
}

@media (hover: hover) {
.resizer {
    opacity: 0;
}

*:hover > .resizer {
    opacity: 1;
}
}


.RG_GRID_HEADER_CONTEXTMENU {
    background-color: var(--RG_ITEM_GREY);
    border-radius: 2px;
    --contexify-menu-padding: 2px;
    --contexify-menu-minWidth: none;
}

.RG_GRID_HEADER_CONTEXTMENU_ITEM {
    --contexify-item-color: var(--RG_TEXT_GREY);
    --contexify-activeItem-bgColor: var(--RG_HIGHLIGHT_GREY);
}




.RG_GRID_LISTFIELD {
    font-size: 0.75rem;
    width: 100%;
    background-color: var(--RG_HIGHLIGHT_GREY);
    text-indent: 3px;
    max-height: 18px;
}

.RG_GRID_LISTDROP {
    background-color: var(--RG_ITEM_GREY);
    box-shadow: 0px 1px 4px 0px black;
    color: var(--RG_TEXT_GREY);

    width: fit-content;
    min-width: 100%;
    white-space: nowrap;
}


.RG_GRID_LISTITEM {
    padding: 5px 5px 5px 5px;
    background-color: var(--RG_ITEM_GREY);
    text-indent: 0;
}

.RG_GRID_LISTITEM:hover {
    background-color: var(--RG_HIGHLIGHT_GREY);
}










.RG_MULTIENTITY_LISTFIELD {
    font-size: 0.95rem;
    width: 100%;
    background-color: var(--RG_HIGHLIGHT_GREY);
    text-indent: 3px;
    padding: 2px 0 2px 2px;
}

.RG_MULTIENTITY_LISTDROP {
    background-color: var(--RG_ITEM_GREY);
    box-shadow: 0px 1px 4px 0px black;
    color: var(--RG_TEXT_GREY);

    width: fit-content;
    min-width: 100%;
    white-space: nowrap;
}

.RG_MULTIENTITY_LIST_ITEM {
    padding: 10px 5px 10px 5px;
    background-color: var(--RG_ITEM_GREY);
}



.RG_MULTIENTITY_SELECTION {
    padding: -1px 0px -1px 0px;
    margin: 2px 1px 2px 1px;
    background-color: var(--RG_ITEM_GREY);
    /* border: 1px solid red; */
    border-radius: 15px;
}

.RG_MULTIENTITY_SELECTION_LABEL {
    padding-left: 10px;
    padding-right: 3px;
}


.RG_MULTIENTITY_SELECTION_LABEL_CLOSE {
    padding-right: 5px;
    padding-left: 2px;
    border-radius: 0 15px 15px 0;
}


.RG_MULTIENTITY_SELECTION_LABEL_CLOSE:hover {
    background-color: var(--RG_HIGHLIGHT_GREY);
}