.RG_GRIDTOP_BG {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: var(--RG_ITEM_GREY);
    /* overflow: hidden; ?? why? breaks drop-downs but it was probably set for a reason (maybe)*/
}

.RG_GRIDTOP_CHUNK {
    display: flex;
    gap: 20px;
    background-color: var(--RG_ITEM_GREY);
    align-items: center;
}
